<h1><img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Hey! Nice to see you.</h1>

<p>My name is Valentin Vogel and I'm a master student at HTW-Dresden majoring in Computer Science. I'm working as a Developer Advocate and Digital Solutions Architect with focus on NoCode, Serverless, APIs, Jamstacks and other Web Development.</p>

<h3>Things I code with</h3>
<p>
  <img alt="Next.js" src="https://img.shields.io/badge/-Next.js-000000?style=for-the-badge&logo=react&logoColor=white" />
  <img alt="Gatsby" src="https://img.shields.io/badge/-Gatsby-663399?style=for-the-badge&logo=gatsby&logoColor=white" />
  <img alt="Jamstack" src="https://img.shields.io/badge/-Jamstack-F0047F?style=for-the-badge&logo=jamstack&logoColor=white" />
  <img alt="Angular" src="https://img.shields.io/badge/-Angular-DD0031?style=for-the-badge&logo=angular&logoColor=white" />
  <img alt="TypeScript" src="https://img.shields.io/badge/-TypeScript-3178C6?style=for-the-badge&logo=typescript&logoColor=white" />
  <img alt="PHP" src="https://img.shields.io/badge/-PHP-777BB4?style=for-the-badge&logo=php&logoColor=white" />
  <img alt="HTML5" src="https://img.shields.io/badge/-HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" />
  <img alt="CSS3" src="https://img.shields.io/badge/-CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white" />
  <img alt="SASS" src="https://img.shields.io/badge/-SASS-CC6699?style=for-the-badge&logo=sass&logoColor=white" />
  <img alt="Tailwindcss" src="https://img.shields.io/badge/-Tailwindcss-38B2AC?style=for-the-badge&logo=tailwindcss&logoColor=white" />
  <img alt="Bit" src="https://img.shields.io/badge/-Bit-73398D?style=for-the-badge&logo=bit&logoColor=white" />
  <img alt="Firebase" src="https://img.shields.io/badge/-Firebase-FFCA28?style=for-the-badge&logo=firebase&logoColor=white" />
  <img alt="Google Cloud Platform" src="https://img.shields.io/badge/-Google_Cloud_Platform-4285F4?style=for-the-badge&logo=google-cloud&logoColor=white" />
  <img alt="Amazon Web Services" src="https://img.shields.io/badge/-Amazon_Web_Services-232F3E?style=for-the-badge&logo=amazon-aws&logoColor=white" />
  <img alt="Netlify" src="https://img.shields.io/badge/-Netlify-00C7B7?style=for-the-badge&logo=netlify&logoColor=white" />
  <img alt="Github Actions" src="https://img.shields.io/badge/-Github_Actions-2088FF?style=for-the-badge&logo=github-actions&logoColor=white" />
  <img alt="Docker" src="https://img.shields.io/badge/-Docker-2496ED?style=for-the-badge&logo=docker&logoColor=white" />
  <img alt="Serverless" src="https://img.shields.io/badge/-Serverless-FD5750?style=for-the-badge&logo=serverless&logoColor=white" />
  <img alt="Terraform" src="https://img.shields.io/badge/-Terraform-623CE4?style=for-the-badge&logo=terraform&logoColor=white" />
  <img alt="GraphQL" src="https://img.shields.io/badge/-GraphQL-E10098?style=for-the-badge&logo=graphql&logoColor=white" />
  <img alt="Git" src="https://img.shields.io/badge/-Git-F05032?style=for-the-badge&logo=git&logoColor=white" />
  <img alt="Prettier" src="https://img.shields.io/badge/-Prettier-F7B93E?style=for-the-badge&logo=prettier&logoColor=white" />
  <img alt="d3js" src="https://img.shields.io/badge/-D3.js-F9A03C?style=for-the-badge&logo=d3.js&logoColor=white" />
  <img alt="p5.js" src="https://img.shields.io/badge/-p5.js-ED225D?style=for-the-badge&logo=p5.js&logoColor=white" />
  <img alt="MongoDB" src="https://img.shields.io/badge/-MongoDB-47A248?style=for-the-badge&logo=mongodb&logoColor=white" />
  <img alt="Nodejs" src="https://img.shields.io/badge/-Nodejs-339933?style=for-the-badge&logo=Node.js&logoColor=white" />
</p>

<h3>Open source projects</h3>
<table>
  <thead>
    <tr border: none;>
      <td><b>Projects</b></td>
      <td><b>Stars</b></td>
      <td><b>Forks</b></td>
      <td><b>Issues</b></td>
      <td><b>Pull requests</b></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/valentin-vogel/estimate"><b>Estimate</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/valentin-vogel/estimate?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Forks" src="https://img.shields.io/github/forks/valentin-vogel/estimate?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/valentin-vogel/estimate?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/valentin-vogel/estimate?style=flat-square&labelColor=343b41"/></td>
    </tr>
	  <tr>
      <td><a href="https://github.com/valentin-vogel/dvb-departure-board"><b>DVB Departure Board</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/valentin-vogel/dvb-departure-board?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Forks" src="https://img.shields.io/github/forks/valentin-vogel/dvb-departure-board?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/valentin-vogel/dvb-departure-board?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/valentin-vogel/dvb-departure-board?style=flat-square&labelColor=343b41"/></td>
    </tr>
  </tbody>
</table>

<h3>Some of my latest medium posts</h3>
<ul>
  {{#medium_posts}}
  <li><a href="{{&link}}"><b>{{title}}</b></a></li>
  {{/medium_posts}}
</ul>

<h3>Where to find me</h3>
<p>
<a href="https://github.com/valentin-vogel" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-181717?&style=for-the-badge&logo=github&logoColor=white" /></a> 
<a href="https://www.xing.com/" target="_blank"><img alt="Xing" src="https://img.shields.io/badge/Xing-006567?&style=for-the-badge&logo=xing&logoColor=white" /></a> 
<a href="https://medium.com/@valentinvogel" target="_blank"><img alt="Medium" src="https://img.shields.io/badge/Medium-12100E?&style=for-the-badge&logo=medium&logoColor=white" /></a>
</p>

------------
<p align="center">This <i>README</i> file is generated <b>every 24 hours</b>!</br>Last refresh: {{refresh_date}}</p>
